<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Order Success - Corano Jewelry Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .order-success-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .order-success-container i {
            margin-bottom: 20px;
        }

        .order-success-container h2 {
            margin-bottom: 20px;
        }

        .order-success-container h6 {
            margin-bottom: 20px;
        }

        .order-success-container a {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="order-success-container text-center p-5 border">
                    <i class="fas fa-check-circle fa-5x text-success"></i>
                    <h2>Your order has been successful!</h2>
                    <h6 class="text-muted">Thank you for shopping with us. We appreciate your business.</h6>
                    <a href="/products" class="btn btn-success mt-3">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
