<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShade</title>
    <link rel="stylesheet" href="/styles/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            /* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #dad6b7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    
}

h4 {
    text-align: center;
    color: #a1722b;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
    /* padding-left: 40px; */
    justify-content: center;
    margin-left: 40px;
}

.input-box input {
    width: 80%;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  
}

.input-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: red;
}

.button input {
    width: 40%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: #a1722b;
    color: #fff;
    cursor: pointer;
    margin-left: 50px;

}
.button input:hover {
  background-color: #916625;
}

.text {
    text-align: center;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .wrapper {
        width: 90%;
    }
}

/* Text styling within the text class */
.text h6 {
  font-size: 14px;
  color: #000;
  margin-top: 10px;
}

/* Link styling within the text class */
.text a {
  color: #a1722b;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
  font-style:inherit;
}

/* Link hover effect within the text class */
.text a:hover {
  text-decoration:none;
}

        </style>
</head>

<body>
    <div class="wrapper">
        <h4><strong>USER SIGN UP</strong></h4>
        <form action="/register" method="post" onsubmit="return validate()">
            <div class="input-box">
                <input id="name" name="name" type="text" placeholder="Enter your name">
                <p id="nameError"></p>
            </div>
            <div class="input-box">
                <input id="email" name="email" type="text" placeholder="Enter your email">
                <p id="emailError"></p>

            </div>
            <div class="input-box">
                <input id="password" name="password" type="password" placeholder="Enter password">
                <p id="passwordError"></p>

            </div>
            <div class="input-box">
                <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Enter confirm password">
                <p id="confirmPasswordError"></p>

            </div>
            <div class="input-box">
                <input id="mobile" name="mobile" type="" placeholder="Enter mobile">
                <p id="mobileError"></p>
            </div>

            <div class="input-box button">
                <input id="submit-btn" type="submit" value="Sign Up">
                
            </div>
            <div class="text">
                <h6>Already have an account? <a href="/login"><strong> Login now</strong></a></h6>
            </div>
        </form>
        <%if(locals.message){%>
            <p><%=locals.message%></p>
        <%}%>
    </div>
     
        <script src="/js/userRegisterValidation.js"></script>
        <script>
        function validate() {

            // Input feilds
            const name = document.getElementById('name')
            const email = document.getElementById('email')
            const password = document.getElementById('password')
            const mobile = document.getElementById('mobile')
         
            // Error feilds
            const nameError = document.getElementById('nameError')
            const emailError = document.getElementById('emailError')
            const passwordError = document.getElementById('passwordError')
            const mobileError = document.getElementById('mobileError');
         
            // Regex   
            const nameRegex = /^[A-Z]/;
            const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail+\.[a-zA-Z]{3}$/;
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
            const mobileRegex = /^[0-9]{10}$/;
         
         
            //name feild
            if (name.value.trim() === '') {
               nameError.innerHTML = 'Field is required'
               setTimeout(() => {
                  nameError.innerHTML = ''
               }, 5000)
               return false;
            }
            if(!nameRegex.test(name.value)){
               nameError.innerHTML = 'First letter should be capital'
               setTimeout(()=>{
                  nameError.innerHTML = ''
               },5000)
               return false;
            }
         
            // email feild   
            if (email.value.trim() === '') {
               emailError.innerHTML = 'Field is required'
               setTimeout(() => {
                  emailError.innerHTML = ''
               }, 5000)
               return false;
            }
            if (!emailRegex.test(email.value)) {
               emailError.innerHTML = "Please enter a valid email"
               setTimeout(() => {
                  emailError.innerHTML = ''
               }, 5000);
               return false;
            }
         
            // password feild
            if (password.value.trim() === '') {
               passwordError.innerHTML = 'Field is required'
               setTimeout(() => {
                  passwordError.innerHTML = ''
               }, 5000)
               return false;
            }
            if (!passwordRegex.test(password.value)) {
               passwordError.innerHTML = "Please enter a tight password"
               setTimeout(() => {
                  passwordError.innerHTML = ''
               }, 5000);
               return false;
            }
         
            //mobile feild
            if (mobile.value.trim() === '') {
               mobileError.innerHTML = 'Field is required'
               setTimeout(() => {
                  mobileError.innerHTML = ''
               }, 5000)
               return false;
            }
         
            if(!mobileRegex.test(mobile.value)){
               mobileError.innerHTML = 'Please enter a valid number'
               setTimeout(()=>{
                  mobileError.innerHTML = ''
               },5000)
               return false;
            }
            return true;
         }
         
        </script>

</body>

</html