@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.wrapper {
  width: 350px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 22px;
  font-weight: 650;
  color: #c29958;
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.field input:focus {
  outline: none;
  border-color: #c29958;
}

.btn input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c29958;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn input:hover {
  background-color: #776851;
}
.signup-link {
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #c29958;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration:none;
  color: #776851;
}
